@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    text-decoration-line: none;
    
}
body{
    font-family: "Inter", sans-serif;
}


.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.header img{
    width: 150px;

}
.header .nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header .nav a{
    font-size: 20px;
    text-transform: uppercase;
    color: white;
     transition: all 0.45;

    
}
.header .nav a:hover{
    color: black;
   
}
.header #menu-btn{
    display:none ;
    font-size: 20px;
}
.welcome-section{
    background-image: url("./images/main.jpg");
    height: 100vh;
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat;
}
.welcome-text{
    width: 90%;
    margin: 200 auto;
    text-align: center;
    color: white;

}
.welcome-text h1{
    font-size: 80px;
    max-width: 600px;
    margin: 0 auto;

}
.welcome-text p{
    font-size: 24px;
    max-width: 600px;
    margin: 0 auto;
}

.about-section{
    background-color: black;
    color: white;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.about-text{
    max-width: 600px;
}




.about-text h5{
  font-size: 15px;
  margin-bottom: 10px;
}
.about-text h1{
    font-size: 75px;
    border-bottom: 10px solid white;
    margin-bottom: 20px;
}
.about-text p span{
   border-bottom: 1px solid red ;
}


.battle-requirements-section{

    background-image: url('./images/sec-2.jpg');
    background-position: center;
    background-size: cover;
    padding: 30px;
}
.battle-requirements-section .title-sm{
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;

}
.battle-requirements-section .title-xl{
    font-size: 60px;
    text-align: center;
    margin-bottom: 30px;


}


.battle-requirements-section .container{
    width: 620px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;




}



.battle-requirements-section .container .box{
    width: 285px;
    height: 130px;
    border: 1px solid white;
    padding: 10px;

}


.battle-requirements-section .container .box h1{
    font-size: 20px;
    color: crimson;
    margin-bottom: 10px;
}


.battle-requirements-section .container .box p{

   font-size: 18px;
   font-weight: 500;

}

.battle-requirements-section .container .last-box{
    width: 600px;
}










@media(max-width:1300px) {
   .about-section{
    flex-direction: column;
   }


.about-section img{
    max-width: 400px;
}



.about-section .about-text{
     max-width: 400px;
}



.about-section .about-text h1{
    font-size: 50px;
}



}








@media(max-width:800px) {
    .header .nav a{
        display: none;
    }
    .header #menu-btn{
        display: block;
    }

    .about-section img{
      max-width: 400px;


    }
    .about-section .about-text{
        max-width: 400px;

    }


    .about-section .about-text h1{

        font-size: 50px;
    }
}
@media(max-width:700px) {
     .battle-requirements-section .container{
    flex-wrap: unset;
    flex-direction: column;
    gap: 10px;




}
    
    
    .battle-requirements-section .container .box{
        width: 500px;
    
        

    }
    .battle-requirements-section .title-xl{

        font-size: 40px;
    }
    .battle-requirements-section .title-sm{
        font-size: 20px;
    }
    
}


@media(max-width:600px) {
    .battle-requirements-section .container .box{
        width: 450px;
    
        

    }



}

 


